<!DOCTYPE html>
<html>

<head>
    <title>Notifications</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style type="text/css">
    .container {
        margin-top: 15vh;
    }

    .card {
        margin-top: 2vh;
        margin-bottom: 2vh
    }
    </style>
</head>

<body>
    <div>
        <% include navbar.ejs ;%>
    </div>
    <div class="container">
        <div id="accordion">
            <% results1.forEach(function(result){ %>
            <div class="card">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#<%= result.title %>">
                        <%= result.victimName %> -
                        <%= result.title %>
                    </a>
                </div>
                <div id="<%= result.title %>" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <div>
                            <p class="row"><strong>Victim's Name : </strong>
                                <%= result.victimName %>
                            </p>
                            <p class="row"><strong>Victim's Email : </strong>
                                <%= result.email %>
                            </p>
                            <p class="row"><strong>Case Description : </strong>
                                <%= result.description %>
                            </p>
                        </div>
                        <div>
                            <button class="btn btn-success" type="button" data-toggle="modal" data-target="#approved" onclick="appRej('<%= result.email %>', '<%= result.victimName %>', '<%= result.file %>')">Approve</button>
                            <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#rejected" onclick="appRej('<%= result.email %>', '<%= result.victimName %>','<%= result.file %>')">Reject</button>
                        </div>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
        <div class="modal" id="approved">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Are you sure you want to approve this?</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <form method="post" action="/lawyer/approved">
                            <input type="hidden" name="emailApp" id="emailApp">
                            <input type="hidden" name="nameApp" id="nameApp">
                            <input type="hidden" name="casePDF" id="casePDF">
                            <button type="submit" class="btn btn-success">Yes</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="rejected">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Are you sure you want to reject this?</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <form method="post" action="/lawyer/rejected">
                            <input type="hidden" name="nameRej" id="nameRej">
                            <input type="hidden" name="emailRej" id="emailRej">
                            <textarea name="reasonForRejection" placeholder="Reason for rejection..."></textarea>
                            <!-- <input type="text" name="reasonForRejection"> -->
                            <br>
                            <button type="submit" class="btn btn-success">Yes</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <% include footer.ejs ;%>
    </div>
</body>
<script>
function appRej(email, name, casePDF) {
    document.getElementById("emailApp").value = email;
    document.getElementById("emailRej").value = email;
    document.getElementById("nameApp").value = name;
    document.getElementById("nameRej").value = name;
    document.getElementById("casePDF").value = casePDF;
}
</script>

</html>